p {
    font-size: 24px; /* Изменено значение размера шрифта */
    text-align: left; /* Изменено выравнивание текста */
    font-style: normal; /* Удалено курсивное начертание */
    font-weight: normal; /* Удалено полужирное начертание */
}

ol {
    font-size: 16px; /* Изменено значение размера шрифта */
    font-style: normal; /* Удалено курсивное начертание */
}

.main {
    background-color: #FFFFFF; /* Изменено значение цвета фона */
    height: 70%; /* Уменьшено значение высоты */
    width: 50%; /* Увеличено значение ширины */
    border: 2px solid #000000; /* Изменено значение цвета рамки и ее толщины */
    position: relative; /* Заменено значение position */
    margin-top: 5%; /* Изменено значение отступа сверху */
}

.da {
    background-color: #C1A07D; /* Изменено значение цвета фона */
    display: block; /* Заменено значение display */
    text-align: center; /* Удалено значение justify-content */
}

.inputs {
    margin-top: 5%; /* Изменено значение отступа сверху */
}

input {
    background-color: #FFFFFF; /* Изменено значение цвета фона */
    width: 60%; /* Уменьшено значение ширины */
    text-align: left; /* Изменено выравнивание текста */
    border: 1px solid #000000; /* Изменено значение цвета границы и ее толщины */
    padding: 5px; /* Изменено значение отступов внутри элемента */
}

.field-wrapper {
    width: 30%; /* Изменено значение ширины */
    float: none; /* Заменено значение float */
    text-align: left; /* Изменено выравнивание текста */
    font-size: 14px; /* Уменьшено значение размера шрифта */
}

.bum {
    height: 40px; /* Изменено значение высоты */
    width: 100px; /* Изменено значение ширины */
    background-color: #C1A07D; /* Изменено значение цвета фона */
    border: 1px solid #000000; /* Изменено значение цвета границы и ее толщины */
    margin-top: 10px; /* Изменено значение отступа сверху */
    margin-right: 0; /* Удалено значение отступа справа */
    position: static; /* Заменено значение position */
    font-size: 14px; /* Уменьшено значение размера шрифта */
}

.button1, .button2 {
    border: 1px solid #000000; /* Изменено значение цвета границы и ее толщины */
    font-size: 14px; /* Уменьшено значение размера шрифта */
    background-color: #C1A07D; /* Изменено значение цвета фона */
}

label {
    margin-top: 5px; /* Изменено значение отступа сверху */
}
